{{> header}}

<h1>{{title}}</h1>

<div class="customers">

    {{#customers}}
        <section>
            <header class="customer-header">
                <h2 class="firstName"><a href="/customer/{{id}}">{{firstName}} {{lastName}}</a></h2>
            </header>
        </section>
    {{/customers}}
</div>

{{> footer}}
